extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed bg-dark'
    - var pageTitle = 'About this Project'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegionTitle = 'COVID-19'
    - var topNavRegionSubTitle = 'FAQ\'s'
    - var metaTitle = 'Frequently asked questions regarding the COVID-19'
    - var metaDescription = 'As the world copes with the impact of the novel coronavirus (COVID-19) pandemic, we know that you have a lot of questions about what it means for you and the people you care about. Here you will find answers to a few.'
    include includes/about-vars/about-get-to-know-var.pug
    include includes/about-vars/about-be-safe-var.pug
    include includes/about-vars/about-learn-more-var.pug
    include includes/about-vars/about-this-project-var.pug
    

append css
    style.
        .rotating {
            -webkit-animation: rotating 3s linear infinite;
            -moz-animation: rotating 3s linear infinite;
            -ms-animation: rotating 3s linear infinite;
            -o-animation: rotating 3s linear infinite;
            animation: rotating 3s linear infinite;
        }
        .myaccordion .card-header {
            border-bottom-color: #edeff0;
            background: transparent;
        }

        .myaccordion .fa-stack {
            font-size: 18px;
        }

        .myaccordion .btn {
            width: 100%;
            font-weight: bold;
            color: #004987;
            padding: 0;
        }

        .myaccordion .btn-link:hover,
        .myaccordion .btn-link:focus {
            text-decoration: none;
        }

        .myaccordion li + li {
            margin-top: 10px;
        }
       .myaccordion button,.myaccordion .card{
            border-radius:0
        }
        .card-header button[aria-expanded="true"] {
            background-color: #eff3f9 !important;
        }
        .card-header button[aria-expanded="true"]:after {
            content: "\ea41";
            font-family: 'icomoon';
            float:right;
            margin-left:5px;
        }
        .card-header button[aria-expanded="false"]:after {
            content: "\ea43";
            font-family: 'icomoon';
            float:right;
            margin-left:5px;
        }
        .card-body.text-body {
            font-size:1rem;
            letter-spacing:0.03rem;
        }
        a{
            color:#004987;
        }
        a.source-link:hover{
            color:#ffffff;
            text-decoration:underline;
        }
        .nav-pills .nav-link{
            border:1px solid #ffffff;
            border-radius: 0 !important;
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
            color: #1f2d41!important;
            background-color:#fff !important;
        }
        #faq-covid{
            border-right:none;
            transition:all 0.3s ease;
        }
        #faq-us{
            border-left:none;
            transition:all 0.3s ease;
        }
        li.nav-item a.nav-link:hover{
            color: #1f2d41!important;
            background-color:#fff !important;
            opacity:0.95
        }
        li.nav-item a.nav-link.active:hover{
            color: #1f2d41!important;
            background-color:#fff !important;
        }
        @media only screen and (max-width: 600px) {
            li.nav-item{
                display:block;
                width:100%;
                margin: 0.3rem;
            }
            li.nav-item a{
                width:50%;
                margin:0 auto;
                border:1px solid #ffffff !important;
                border-radius: 0.35rem !important;
            }
        }
    link(href='css/styles.min.css', rel='stylesheet')
   
block content
    .container-fluid
        .row.text-center.p-3
            .col-sm-12.text-center
    ul.nav.nav-pills.card-header-pills.d-flex.justify-content-center.pt-2.m-0(role='tablist')
        li.nav-item
            a.nav-link.bg-dark.text-white.active(id="about"+getToKnow.tab , href='#'+getToKnow.tab, data-toggle='tab', role='tab', aria-controls='get to know', aria-selected='true') GET TO KNOW
        li.nav-item
            a.nav-link.bg-dark.text-white(id="about"+beSafe.tab, href='#'+beSafe.tab, data-toggle='tab', role='tab', aria-controls='be safe', aria-selected='false') BE SAFE
        li.nav-item
            a.nav-link.bg-dark.text-white(id="about"+learnMore.tab, href='#'+learnMore.tab, data-toggle='tab', role='tab', aria-controls='learn more', aria-selected='false') LEARN MORE
        li.nav-item
            a.nav-link.bg-dark.text-white(id="about"+thisProject.tab, href='#'+thisProject.tab data-toggle='tab', role='tab', aria-controls='this projecyt', aria-selected='false') THIS PROJECT

    .tab-content#cardPillContent


        //- Get to know
        .tab-pane.fade.show.active(role='tabpanel', aria-labelledby="about"+getToKnow.tab, id=getToKnow.tab)
            .container-fluid
                .myaccordion.mx-3.mb-5(id='accordion-'+getToKnow.tab)
                    each topics, titleIndex in getToKnow.data
                        .row.d-flex.justify-content-center.mt-5
                            .col-sm-12.col-md-8.justify-content-center
                                h1.text-white.mt-4
                                    span.d-block.mb-3.text-center.text-md-left=topics.title
                                    each item, index in topics.content
                                        .card
                                            div(id="heading"+topics.id+index).card-header.p-0
                                                h2.mb-0.w-100
                                                    button.d-flex.align-items-center.justify-content-between.btn.btn-link.p-3.text-left(data-toggle='collapse', data-target='#collapse'+topics.id+index, aria-expanded=(titleIndex==0) ? 'true': 'false', aria-controls='collapse'+topics.id+index)=item.question
                                            .collapse(class = (index==0) ? 'show': '', id="collapse"+topics.id+index, aria-labelledby='heading'+topics.id+index, data-parent='#accordion-'+getToKnow.tab)
                                                .card-body.text-body!=item.answer




        //-  About this Project                   
        .tab-pane.fade(role='tabpanel', aria-labelledby="about"+thisProject.tab, id=thisProject.tab)
            .container-fluid
                .myaccordion.mx-3.mb-5(id='accordion-'+thisProject.tab)
                    .row.d-flex.justify-content-center.mt-5
                        .col-sm-12.col-md-8.justify-content-center
                            each topics,titleIndex in thisProject.data
                                h1.text-white.mt-4
                                    span.d-block.mb-3.text-center.text-md-left=topics.title
                                    each item, index in topics.content
                                        .card
                                            div(id="heading"+topics.id+index).card-header.p-0
                                                h2.mb-0.w-100
                                                    button.d-flex.align-items-center.justify-content-between.btn.btn-link.p-3.text-left(data-toggle='collapse', data-target='#collapse'+topics.id+index, aria-expanded=(titleIndex==0) ? 'true': 'false', aria-controls='collapse'+topics.id+index)=item.question
                                            .collapse(class = (index==0) ? 'show': '', id="collapse"+topics.id+index, aria-labelledby='heading'+topics.id+index, data-parent='#accordion-'+thisProject.tab)
                                                .card-body.text-body!=item.answer
                            
        //-  Learn More              
        .tab-pane.fade(role='tabpanel', aria-labelledby="about"+learnMore.tab, id=learnMore.tab)
            .container-fluid
                .myaccordion.mx-3.mb-5(id='accordion-'+learnMore.tab)
                    .row.d-flex.justify-content-center.mt-5
                        .col-sm-12.col-md-8.justify-content-center
                            each topics,titleIndex in learnMore.data
                                h1.text-white.mt-4
                                    span.d-block.mb-3.text-center.text-md-left=topics.title
                                    each item, index in topics.content
                                        .card
                                            div(id="heading"+topics.id+index).card-header.p-0
                                                h2.mb-0.w-100
                                                    button.d-flex.align-items-center.justify-content-between.btn.btn-link.p-3.text-left(data-toggle='collapse', data-target='#collapse'+topics.id+index, aria-expanded=(titleIndex==0) ? 'true': 'false', aria-controls='collapse'+topics.id+index)=item.question
                                            .collapse(class = (index==0) ? 'show': '', id="collapse"+topics.id+index, aria-labelledby='heading'+topics.id+index, data-parent='#accordion-'+learnMore.tab)
                                                .card-body.text-body!=item.answer
                    .col-sm-12.text-center
                        p.m-0 Data derived from &nbsp;
                            a.text-white-75.source-link(target="_blank", href='https://www.wakehealth.edu/Coronavirus/Myths-and-Facts') Wake Forest Baptist Health




        //- Be Safe
        .tab-pane.fade.show.active(role='tabpanel', aria-labelledby="about"+beSafe.tab, id=beSafe.tab)
            .container-fluid
                .myaccordion.mx-3.mb-5(id='accordion-'+beSafe.tab)
                    each topics,titleIndex in beSafe.data
                        .row.d-flex.justify-content-center.mt-5
                            .col-sm-12.col-md-8.justify-content-center
                                h1.text-white.mt-4
                                    span.d-block.mb-3.text-center.text-md-left=topics.title
                                    each item, index in topics.content
                                        .card
                                            div(id="heading"+topics.id+index).card-header.p-0
                                                h2.mb-0.w-100
                                                    button.d-flex.align-items-center.justify-content-between.btn.btn-link.p-3.text-left(data-toggle='collapse', data-target='#collapse'+topics.id+index, aria-expanded=(titleIndex==0) ? 'true': 'false', aria-controls='collapse'+topics.id+index)=item.question
                                            .collapse(class = (index==0) ? 'show': '', id="collapse"+topics.id+index, aria-labelledby='heading'+topics.id+index, data-parent='#accordion-'+beSafe.tab)
                                                .card-body.text-body!=item.answer
        
append scripts
    script.
        $(document).ready(function() {
            $(
                '#accordion-covid, #accordion-us',
                '#accordion-know-more',
                '#accordion-be-safe'
            ).on('hide.bs.collapse show.bs.collapse', (e) => {
                $(e.target).prev().find('i:last-child').toggleClass('icon-circle-up');
            });
        });
        $(window).on('load', function() {
            let $logo = $('#brand-logo');
            $logo.removeClass('rotating');
            $logo.hover(function() {
                $(this).addClass('rotating'), $(this).removeClass('rotating');
            });
        });
